parameters:
    paths:
         - src
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Right side of && is always (true|false)#'
